.take-card {
  padding: 1.5rem;
  max-width: 750px;
  margin: auto;
}

.class-info p {
  margin: 2px 0;
}

.button-container {
  text-align: center;
  margin-top: 1rem;
}

.loading {
  text-align: center;
  padding: 1.5rem;
  font-style: italic;
}
