.page-card {
  padding: 20px;
  margin: 20px;
}

.form-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}
mat-paginator {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
