<mat-card class="course-card">

  <h2>📘 Crear Curso</h2>

  <form [formGroup]="form" (ngSubmit)="createCourse()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del curso</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Programa Universitario</mat-label>
      <input matInput formControlName="universityProgram" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>save</mat-icon> Guardar
    </button>

  </form>

</mat-card>
