<mat-toolbar color="primary" class="toolbar">

  <!-- Logo + navegación izquierda -->
  <div class="nav-left">
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon> Attendance
    </button>

    <ng-container *ngIf="isLoggedIn">

      <button mat-button *ngIf="canSee('dashboard')" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>insights</mat-icon> Dashboard
      </button>

      <button mat-button *ngIf="canSee('organizations')" routerLink="/organizations" routerLinkActive="active">
        <mat-icon>business</mat-icon> Organizaciones
      </button>

      <button mat-button *ngIf="canSee('users')" routerLink="/users" routerLinkActive="active">
        <mat-icon>groups</mat-icon> Usuarios
      </button>

      <button mat-button *ngIf="canSee('courses')" routerLink="/courses" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon> Cursos
      </button>

      <button mat-button *ngIf="canSee('attendance')" routerLink="/attendance" routerLinkActive="active">
        <mat-icon>check_circle</mat-icon> Asistencia
      </button>
<button mat-icon-button (click)="toggleDark()">
  <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
</button>

    </ng-container>
  </div>

  <!-- Usuario + logout -->
  <div class="nav-right" *ngIf="isLoggedIn">
    <span class="user-info">
      <mat-icon>account_circle</mat-icon>
      {{ userName }}
      <small>({{ userRole }})</small>
    </span>

    <button mat-raised-button color="accent" (click)="logout()">
      <mat-icon>logout</mat-icon> Salir
    </button>
  </div>

</mat-toolbar>
