<div class="dashboard-container">
  <h2>👋 Bienvenido al Panel de Control</h2>
  <p>Rol actual: <strong>{{ role }}</strong></p>

  <div class="card-container">
    <!-- SUPER ADMIN -->
    <button *ngIf="role === 'SUPER_ADMIN'" (click)="goToSection('/organizations')">
      🏢 Organizaciones
    </button>
    <button *ngIf="role === 'SUPER_ADMIN'" (click)="goToSection('/users')">
      👥 Usuarios
    </button>

    <!-- ADMIN -->
    <button *ngIf="role === 'ADMIN'" (click)="goToSection('/courses')">
      📚 Cursos
    </button>
    <button *ngIf="role === 'ADMIN'" (click)="goToSection('/users')">
      👤 Alumnos e Instructores
    </button>

    <!-- INSTRUCTOR -->
    <button *ngIf="role === 'INSTRUCTOR'" (click)="goToSection('/classes')">
      🏫 Mis clases
    </button>
    <button *ngIf="role === 'INSTRUCTOR'" (click)="goToSection('/attendance')">
      🕓 Asistencia
    </button>

    <!-- USER -->
    <button *ngIf="role === 'USER'" (click)="goToSection('/attendance')">
      🧾 Ver mi asistencia
    </button>
  </div>
</div>
