/* Contenedor general de chips */
.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 20px;
}

.chip-section {
  flex: 1;
  min-width: 140px;
}

.chip-title {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* Chips */
mat-chip-option {
  padding: 6px 12px;
  border-radius: 20px !important;
  font-size: 13px;
  background: #eee;
  cursor: pointer;
}

mat-chip-option.mat-mdc-chip-selected {
  background: #673ab7 !important;
  color: white !important;
}
