.report-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem 2rem;
}

table {
  width: 100%;
  margin-top: 1rem;
}

th {
  font-weight: 600;
}

td, th {
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}
