.course-list-container {
  padding: 1rem;
}

.actions {
  margin-bottom: 1rem;
}

.empty {
  margin-top: 1rem;
  color: #777;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: .5rem;
}

table {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

mat-select {
  min-width: 160px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
